<div class="navbar bg-base-100">
  <div class="navbar-start">
  {{#if userIsAuthenticated}}
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <img src="/assets/svg/dropdownMenu.svg" alt="Dropdown Menu" />
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Reset Account</a></li>
        <li><a>Clear Tasks</a></li>
        <li><a>Clear Rewards</a></li>
      </ul>
    </div>
  {{else}}
    <div class="hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <img src="/assets/svg/dropdownMenu.svg" alt="Dropdown Menu" />
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Reset Account</a></li>
        <li><a>Clear Tasks</a></li>
        <li><a>Clear Rewards</a></li>
      </ul>
    </div>
  {{/if}}
</div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl font-press-start">Gamify Life</a>
  </div>
  <div class="navbar-end">
    {{#if userIsAuthenticated}}
    <button class="btn btn-ghost btn-circle">
        <div class="indicator">
          <img src="/assets/svg/logout.svg" alt="Logout" />
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      </button>
    {{else}}
      <a class="btn">Login</a>
      <a class="btn">Signup</a>
    {{/if}}
  </div>
</div>