<div class="card w-96 bg-base-100 shadow-xl">
  <a href="#add-reward-modal" class="btn bg-secondary">Add Reward</a>
  <!-- Put this part before </body> tag -->
  <div class="modal" role="dialog" id="add-reward-modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Create a Reward</h3>
      <form id="taskForm" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Title</span>
          </label>
          <input id="rew-title" placeholder="Title" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Description</span>
          </label>
          <textarea id="rew-desc" placeholder="Type description here..." class="textarea textarea-bordered"></textarea>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Cost</span>
          </label>
          <input id="cost" placeholder="$$" class="input input-bordered" required />
        </div>
      </form>
      <div class="modal-action">
      <a href="" class="btn bg-red-700">Cancel</a>
      <a href="" id="createReward" class="btn bg-success">Confirm</a>
      </div>
    </div>
  </div>
  {{#if rewards.length}}
  {{#each rewards}}
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" /> 
    <div class="collapse-title text-xl font-medium">
      {{title}}
    </div>
    <div class="collapse-content"> 
      <div>
        <div>
          <div class="grid col-start-1 row-start-1 place-items-center">
            <button class="btn btn-circle">
              <img src="/assets/svg/coin.svg" alt="Coin" />
              <a>{{this.cost}}</a>
            </button>
          </div>
          <p class="pt-4">{{description}}</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Redeem</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
  <p>No rewards available.</p>
  {{/if}}
</div>

<script src="/js/rewards/createReward.js"></script>