<div class="card w-96 bg-base-100 shadow-xl">
  <a href="#add-reward-modal" class="btn">Add Reward</a>
  <!-- Put this part before </body> tag -->
  <div class="modal" role="dialog" id="add-reward-modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Create a Reward</h3>
      <form id="taskForm" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Title</span>
          </label>
          <input id="title" placeholder="Title" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Cost</span>
          </label>
          <input id="reward-cost" placeholder="$$" class="input input-bordered" required />
        </div>
      </form>
      <div class="modal-action">
      <a href="#" class="btn bg-red-700">Cancel</a>
      <a href="#" id="createTask" class="btn bg-success">Confirm</a>
      </div>
    </div>
  </div>
  {{#if rewards.length}}
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" /> 
    <div class="collapse-title text-xl font-medium">
      {{title}}
    </div>
    <div class="collapse-content"> 
      {{#each rewards}}
      <div>
        <div>
          <div class="card-actions justify-start">
            <button class="btn btn-circle">
              <img src="/assets/svg/coin.svg" alt="Coin" />
              <a>{{this.cost}}</a>
            </button>
          </div>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Redeem</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <p>No rewards available.</p>
  {{/if}}
</div>