<div class="card w-96 bg-base-100 shadow-xl">
  <!-- The button to open modal -->
  <a href="#add-task-modal" class="btn">open modal</a>
  <!-- Put this part before </body> tag -->
  <div class="modal" role="dialog" id="add-task-modal">
    <div class="modal-box">
      <div class="card w-96 bg-base-100 shadow-xl"></div>
    </div>
  </div>
  {{#if tasks.length}}
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" /> 
    <div class="collapse-title text-xl font-medium">
      {{title}}
    </div>
    <div class="collapse-content"> 
      {{#each tasks}}
      <div>
        <p>{{description}}</p>
        <div>
          <div class="badge {{#if (eq difficulty 'low')}}badge-primary{{/if}}">low</div>
          <div class="badge {{#if (eq difficulty 'medium')}}badge-primary{{/if}}">medium</div>
          <div class="badge {{#if (eq difficulty 'high')}}badge-primary{{/if}}">high</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <p>No tasks available.</p>
  {{/if}}
</div>
