<div class="card w-96 bg-base-100 shadow-xl">
  <a href="#add-task-modal" class="btn bg-secondary">Add Task</a>
  <!-- Put this part before </body> tag -->
  <div class="modal" role="dialog" id="add-task-modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Create a Task</h3>
      <form id="taskForm" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Title</span>
          </label>
          <input id="title" placeholder="Title" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Description</span>
          </label>
          <textarea id="task-desc" placeholder="Type description here..." class="textarea textarea-bordered"></textarea>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Difficulty</span>
          </label>
          <input id="difficulty" type="range" min="33" max="99" value="33" class="range" step="33" />
          <div id="difficultyLabel" class="w-full flex justify-between text-xs px-2">
            <span>low</span>
            <span>medium</span>
            <span>high</span>
          </div>
        </div>
      </form>
      <div class="modal-action">
      <a href="#" class="btn bg-red-700">Cancel</a>
      <a href="#" id="createTask" class="btn bg-success">Confirm</a>
      </div>
    </div>
  </div>
  {{#if tasks.length}}
  {{#each tasks}}
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" /> 
    <div class="collapse-title text-xl font-medium">
      {{title}}
    </div>
    <div class="collapse-content"> 
      <div>
        <div class="grid grid-cols-3 gap-4 place-items-center">
          <div class="badge {{#if (eq difficulty 'low')}}badge-primary{{/if}}">low</div>
          <div class="badge {{#if (eq difficulty 'medium')}}badge-primary{{/if}}">medium</div>
          <div class="badge {{#if (eq difficulty 'high')}}badge-primary{{/if}}">high</div>
        </div>
        <p class="pt-4">{{content}}</p>
          <div class="card-actions justify-end">
            <button id="complete-task-{{@index}}" class="btn btn-primary">Complete</button>
          </div>
      </div>
    </div>
  </div>
  {{/each}}
{{else}}
  <p>No tasks available.</p>
{{/if}}

</div>

<script src="/js/tasks/createTask.js"></script>