<div class="card w-96 bg-base-100 shadow-xl">
  <a href="#add-task-modal" class="btn">Add Task</a>
  <!-- Put this part before </body> tag -->
  <div class="modal" role="dialog" id="add-task-modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Create a Task</h3>
      <form id="taskForm" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Title</span>
          </label>
          <input id="title" placeholder="Title" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Description</span>
          </label>
          <input id="task-desc" placeholder="Type description here..." class="textarea textarea-bordered"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Difficulty</span>
          </label>
          <input id="difficulty" type="range" min="33" max="99" value="33" class="range" step="33" />
          <div class="w-full flex justify-between text-xs px-2">
            <span>low</span>
            <span>medium</span>
            <span>high</span>
          </div>
        </div>
      </form>
      <div class="modal-action">
      <a href="#" class="btn">Yay!</a>
      </div>
    </div>
  </div>
  {{#if tasks.length}}
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" /> 
    <div class="collapse-title text-xl font-medium">
      {{title}}
    </div>
    <div class="collapse-content"> 
      {{#each tasks}}
      <div>
        <p>{{description}}</p>
        <div>
          <div class="badge {{#if (eq difficulty 'low')}}badge-primary{{/if}}">low</div>
          <div class="badge {{#if (eq difficulty 'medium')}}badge-primary{{/if}}">medium</div>
          <div class="badge {{#if (eq difficulty 'high')}}badge-primary{{/if}}">high</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <p>No tasks available.</p>
  {{/if}}
</div>
